<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Participantes - Triatlón Carabobo 2025</title>
    <link rel='icon' href='../../assets/logo.ico'>
    <link rel='stylesheet' href='../styles/styles.css'>
    <script src='../scripts/script.js' defer></script>
</head>
<body>
    <button type='button' id='back-button' onclick='window.location.href="../index.html"'></button>
    <div id='main-container'>
        <h1 class='components-titles'>Participantes</h1>
        <hr>
        <div id='participants-container'>
            <table>
                <thead>
                    <tr>
                        <th>C.I.</th>
                        <th>Nombre</th>
                        <th>Municipio</th>
                        <th>Edad</th>
                        <th>Acciones</th>
                        <th>Asistencia</th>
                    </tr>
                </thead>
                <tbody id='participants-table-body'>
                </tbody>
            </table>
        </div>
        <div class='button-group'>
            <button id='start-button'>Iniciar Triatlón</button>
            <button id='reset-button'>Eliminar registros</button>
        </div>
    </div>
</body>
</html>