<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Progreso - Triatlón Carabobo 2025</title>
    <link rel='icon' href='../../assets/logo.ico'>
    <link rel='stylesheet' href='../styles/styles.css'>
    <script src='../scripts/script.js' defer></script>
</head>
<body style='background-color: #c8d9e6;'>
    <button type='button' id='back-button' onclick='window.location.href="../index.html"'></button>
    <div id='progress-container'>
        <h1>Progreso del Triatlón</h1>
        <hr><br>
        <h3 id='start-time'>HORA DE INICIO:</h3>
        <h3 id='end-time'>HORA DE FINALIZACIÓN:</h3>
        <div id='progress-container'>
            <table id='progress-table'>
                <thead style='font-family: "Antonio"; font-size: 1.2em;'>
                    <tr>
                        <th colspan='4'>Participante</th>
                        <th colspan='4'>Caminata 10K</th>
                        <th colspan='4'>Natación 10K</th>
                        <th colspan='4'>Ciclismo 30K</th>
                        <th colspan='4'>General</th>
                    </tr>
                    <tr style='background-color: #3a5f7a;'>
                        <td>C.I.</td>
                        <td>Nombre</td>
                        <td>Municipio</td>
                        <td>Edad</td>
                        <td>Hora inicio</td>
                        <td>Hora fin</td>
                        <td>Distancia</td>
                        <td>Tiempo</td>
                        <td>Hora inicio</td>
                        <td>Hora fin</td>
                        <td>Distancia</td>
                        <td>Tiempo</td>
                        <td>Hora inicio</td>
                        <td>Hora fin</td>
                        <td>Distancia</td>
                        <td>Tiempo</td>
                        <td>Distancia total</td>
                        <td>Tiempo de recorrido</td>
                        <td>Hora fin</td>
                        <td>Status</td>
                    </tr>
                </thead>
                <tbody id='progress-table-body'>
                </tbody>
            </table>
        </div>
        <div class='button-group'>
            <button id='start-button'>Iniciar</button>
            <button id='restart-button'>Reiniciar</button>
        </div>
    </div>
</body>
</html>