<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Registro - Triatlón Carabobo 2025</title>
    <link rel='icon' href='../../assets/logo.ico'>
    <link rel='stylesheet' href='../styles/styles.css'>
    <script src='../scripts/script.js'></script>
</head>
<body>
    <button type='button' id='back-button' onclick="window.location.href='../index.html'"></button>
    <div id='main-container'>
        <h1 class='components-titles'>Registro de Participantes</h1>
        <hr>
        <form id='registration-form'>
            <label for='name'>Nombre completo</label>
            <input type='text' id='participant-name' id='name' name='name' placeholder='Nombre completo' required>
            <label for='participant-id'>Cédula de Identidad</label>
            <input type='number' id='participant-id' name='id' placeholder='Cédula de Identidad' required>
            <label for='municipality'>Municipio</label>
            <select type='text' id='participant-municipality' name='municipality' required>
                <option value='' disabled selected>Seleccione un municipio</option>
                <option value='Juan José Mora'>Juan José Mora</option>
                <option value='Puerto Cabello'>Puerto Cabello</option>
                <option value='Bejuma'>Bejuma</option>
                <option value='Montalbán'>Montalbán</option>
                <option value='Miranda'>Miranda</option>
                <option value='Libertador'>Libertador</option>
                <option value='Naguanagua'>Naguanagua</option>
                <option value='Valencia'>Valencia</option>
                <option value='Carlos Arvelo'>Carlos Arvelo</option>
                <option value='San Diego'>San Diego</option>
                <option value='Los Guayos'>Los Guayos</option>
                <option value='Guacara'>Guacara</option>
                <option value='San Joaquín'>San Joaquín</option>
                <option value='Diego Ibarra'>Diego Ibarra</option>
            </select>
            <label for='age'>Edad</label>
            <input type='number' id='participant-age' name='age' placeholder='Edad' min='0' required>
            <div class='button-group'>
                <button type='submit'>Registrar</button>
            </div>
        </form>
    </div>
</body>
</html>